.onoffswitch {
  position: relative;
  width: 84px;
  border: 1px solid #ccc;
  height: 32px;
  border-radius:4px;
  overflow:hidden;
  .onoffswitch-checkbox {
    display: none;
  }

  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
  }

  .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: 0.3s ease-in;
  }

  .onoffswitch-inner:before,
  .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 5px 0 0 0;
    font-size: 14px;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
  }

  .onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #4CAF50;
    color: #FFFFFF; 
  }

  .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 8px;
    background-color: #dc3545;
    color: #FFFFFF;
    text-align: right;
  }
  .onoffswitch-switch {
    display: block;
    width: 41px;
    margin: 0;
    padding:0px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0px;
    right: 42px;
    transition: all 0.3s ease-in 0s;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }

  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }
}

.onoffswitch:focus {
  border: 1px solid black;
  outline: none;
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
}